<div class="row mb-4">
    <div class="col-12 col-md-8">
        <h5>Empresas</h5>
    </div>
    <div class="col-12 col-md-4 text-end">
        <a class="btn btn-primary" (click)="cadastrar()" *ngIf="permissaoUsuario === 'ADMIN'">Cadastrar Empresa</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Logo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empresa of empresas">
                <td>{{ empresa.nome }}</td>
                <td>{{ empresa.ramo }}</td>
                <td>{{ empresa.endereco.cidade +" - "+ empresa.endereco.uf }}</td>
                <td> <img [src]="empresa.logo" width="50" [srcset]="empresa.logo"></td>
                <td>
                    <div class="btn-group">
                        <a (click)="editar(empresa)" class="btn btn-outline-primary">Editar</a>
                        <a (click)="verProdutos(empresa)" class="btn btn-outline-primary">Produtos</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>