<div class="container">
    <div class="row p-4">
        <div class="col-11">
            <h5>Cadastrar Empresa</h5>
        </div>
        <div class="col-1">
            <button type="button" class="btn-close" aria-label="close" (click)="fechar()"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="salvar()" class="p-4">
            <div class="row">
                <div class="form-group form-floating mb-3 col-12 col-md-6">
                    <input type="text" class="form-control" placeholder=" Nome" formControlName="nome" id="idNome">
                    <label for="idNome"> Nome</label>
                </div>
                <div class="form-group form-floating mb-3 col-12 col-md-6">
                    <input type="text" class="form-control" placeholder=" CNPJ" formControlName="cnpj" mask="00.000.000/0000-00" id="idCnpj">
                    <label for="idCnpj"> CNPJ</label>
                </div>
                <div class="form-group form-floating mb-3 col-12 col-md-6">
                    <input type="text" class="form-control" placeholder=" Email" formControlName="email" id="idEmail">
                    <label for="idEmail"> Email</label>
                </div>
                <div class="form-group form-floating mb-3 col-12 col-md-6">
                    <input type="text" class="form-control" placeholder=" Telefone" formControlName="telefone" mask="(00) 0000-0000||(00) 0 0000-0000" id="idTelefone">
                    <label for="idTelefone"> Telefone</label>
                </div>
                <div class="form-check mb-4 col-12">
                    <h6>Selecione o ramo da Empresa</h6>
                    <div *ngFor="let opcaoRamo of ramos; let i = index">
                        <input type="radio" class="form-check-input" formControlName="ramo" id="{{i}}" [checked]="opcaoRamo.checked" [value]="opcaoRamo.nome">
                        <label class="form-check-label" for="{{i}}">
                            {{ opcaoRamo.nome }}
                        </label>
                    </div>
                </div>
                <div class="row" formGroupName="endereco">
                    <div class="form-group form-floating col-12 col-md-4 d-flex mb-3">
                        <input type="text" class="form-control" placeholder=" CEP" formControlName="cep" id="idCep">
                        <label for="idCep"> CEP</label>
                        <button type="button" class="btn btn-outline-primary" (click)="buscaCep(this.form.get('endereco.cep')?.value)">Buscar</button>
                    </div>
                    <div class="form-group form-floating col-12 col-md-4 mb-3">
                        <input type="text" class="form-control" placeholder=" Cidade" formControlName="cidade" id="idCidade" >
                        <label for="idCidade"> Cidade</label>
                    </div>
                    <div class="form-group form-floating col-12 col-md-4 mb-3">
                        <input type="text" class="form-control" placeholder=" Estado" formControlName="estado" id="idEstado" >
                        <label for="idEstado"> Estado</label>
                    </div>

                    <div class="form-group form-floating col-12 col-md-2 mb-3">
                        <input type="text" class="form-control" placeholder=" Número" formControlName="numero" mask="0000" id="idNumero">
                        <label for="idNumero"> Número</label>
                    </div>
                    <div class="form-group form-floating col-12 col-md-2 mb-3">
                        <input type="text" class="form-control" placeholder=" UF" formControlName="uf" id="idUF">
                        <label for="idUF"> UF</label>
                    </div>
                    <div class="form-group form-floating col-12 col-md-8 mb-3">
                        <input type="text" class="form-control" placeholder=" Bairro" formControlName="bairro" id="idBairro">
                        <label for="idBairro"> Bairro</label>
                    </div>
                    <div class="form-group form-floating col-12 col-md-12 mb-3">
                        <input type="text" class="form-control" placeholder=" Rua/Av." formControlName="rua" id="idRua">
                        <label for="idRua"> Rua / Avenida</label>
                    </div>
                </div>
                <div class="form-group mb-4 col-12 mb-3">
                    <div *ngIf="!temLogo">
                        <label for="idLogo">Logo</label>
                        <input type="file" class="form-control" id="idLogo" formControlName="logo" (change)="enviaLogo($event)">
                    </div>
                    <div *ngIf="temLogo" class="d-grid">
                        <img [src]="this.form.get('logo_b64')?.value" class="mb-3 img-fluid">
                        <a class="btn btn-outline-primary btn-md" (click)="alterarLogo()">Alterar Logo</a>
                    </div>
                </div>
                <hr>
                <div *ngIf="planoAcessoEscolhido.id != null || planoAcessoEscolhido.id != undefined">
                    <h6>Plano de Acesso:</h6>
                    <div class="form-group form-floating col-12">
                        <input type="text" class="form-control" placeholder="Plano de Acesso" id="idPlanoAcesso" [value]="planoAcessoEscolhido.nome" disabled>
                        <label for="idPlanoAcesso">Plano de Acesso</label>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary m-2" *ngIf="empresaEdit == undefined">Salvar</button>
                    <button type="button" class="btn btn-primary m-2" (click)="atualizar()" *ngIf="empresaEdit != undefined">Atualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>