<div class="row p-4">
    <div class="col-10">
        <h4>{{ etapa === 1 ? cadastroPlano : cadastroProduto}}</h4>
    </div>
    <div class="col-2">
        <p>Etapa {{ etapa }} de 2</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="salvar()">
        <div *ngIf="etapa === 1">
            <div class="form-floating col-12 mb-4">
                <input type="text" class="form-control" placeholder="Nome" formControlName="nome" id="idNome">
                <label for="idNome">Nome</label>
            </div>
            <div class="form-floating col-12 mb-4">
                <select class="form-select" formControlName="nivel" id="idNivel">
                    <option *ngFor="let np of niveisPlano; let i = index" [value]="np.nivel">{{ np.nivel }}</option>
                </select>
                <label for="idNivel">Nivel do Plano</label>
            </div>
            <div class="form-floating col-12 mb-4">
                <select class="form-select" formControlName="empresaId" id="idEmpresa">
                    <option *ngFor="let emp of comboEmpresas; let i = index" [value]="emp.id">{{ emp.nome }}</option>
                </select>
                <label for="idEmpresa">Empresa</label>
            </div>
            <div class="form-group text-end">
                <button class="btn btn-outline-primary" (click)="avancar()">
                    Próximo
                </button>
            </div>
        </div>
        <div formArrayName="produto" *ngIf="etapa === 2">
            <div class="row" *ngFor="let p of produtoArray.controls; let idx = index" >
                <div [formGroupName]="idx">
                    <p>Produto: {{ idx }}</p>
                    <div class="form-floating col-12 mb-4">
                        <input type="text" class="form-control" formControlName="nome" id="idNome_{{idx}}">
                        <label for="idNome_{{idx}}">Nome</label>
                    </div>
                    <div class="form-floating col-12 mb-4">
                        <select class="form-select" formControlName="categoria" id="idCategoria_{{idx}}" (change)="populaSelectSubCategoria(p, $event, idx)">
                            <option *ngFor="let cat of categorias; let i = index" [value]="cat.id">{{ cat.nome }}</option>
                        </select>
                        <label for="idCategoria_{{idx}}">Categorias</label>
                    </div>
                    <div class="form-floating col-12 mb-4">
                        <select class="form-select" formControlName="subCategoria" id="idSubCategoria_{{idx}}">
                            <option *ngFor="let subCat of comboSubCategorias; let i = index" [value]="subCat.id">{{ subCat.nome }}</option>
                        </select>
                        <label for="idSubCategoria_{{idx}}">SubCategorias</label>
                    </div>
                    <div class="form-floating col-12 mb-4">
                        <textarea class="form-control" formControlName="descricao" id="idDescricao_{{idx}}"></textarea>
                        <label for="idDescricao_{{idx}}">Descrição</label>
                    </div>
                    <div class="form-group col-12 mb-4">
                        <label for="idImagens_{{idx}}">Adicione Imagens do Produto</label>
                        <input type="file" class="form-control" formControlName="imagem" id="idImagens_{{idx}}" (change)="enviaImagem($event, idx)">
                        <div *ngIf="temImagem" class="d-grid p-2">
                            <img [src]="p.value.imagem" class="mb-3 img-fluid w-20">
                            <a class="btn btn-outline-primary btn-md" (click)="alterarImagem()">Alterar</a>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <a class="btn btn-outline-primary" (click)="novoProduto()">Adicionar novo Produto</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group d-flex justify-content-between">
                <button class="btn btn-outline-secondary" (click)="voltar()">Voltar</button>
                <button type="submit" class="btn btn-outline-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>