<div class="sidebar bg-dark ">
    <div class="btn-w-600">
        <button class="navbar-toggler navbar bg-white" (click)="sidebarShow = !sidebarShow" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
        <div class="sidebar-header row text-center m-3 p-2 text-white">
            <div class="col-10">
                <h5>Menu</h5>
            </div>
            <div class="col-2">
                <button type="button" class="btn-close bg-white" (click)="sidebarShow = !sidebarShow"></button>
            </div>
        </div>
        <div class="sidebar-body text-right p-3">
            <ul class="p-1">
                <div class="list-group-item">
                    <a class="btn text-white" data-bs-toggle="collapse" href="#collapseGerenciamento" role="button" aria-expanded="false" aria-controls="collapseGerenciamento">
                        Gerenciamento <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="collapse" id="collapseGerenciamento">
                        <li><a class="list-group-item text-white p-2" routerLink="/empresas" >Empresa</a></li>
                        <li *ngIf="usuarioTemNivelAcesso() || roleUsuario() == 'ADMIN'"><a class="list-group-item text-white p-2" routerLink="/convites">Convites</a></li>
                        <li *ngIf="usuarioTemNivelAcesso() || roleUsuario() == 'ADMIN'"><a class="list-group-item text-white p-2" routerLink="/beneficio-acesso">Beneficio Acesso</a></li>
                    </ul>
                </div>
                <div class="list-group-item">
                    <a class="btn text-white" data-bs-toggle="collapse" href="#collapsePlanos" role="button" aria-expanded="false" aria-controls="collapsePlanos">
                        Planos <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="collapse" id="collapsePlanos">
                        <li><a class="list-group-item text-white p-2" routerLink="/contratar-planos">Contratar Planos</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</div>