.nav-link, .alert-link, .link{
    cursor: pointer;
    color: #000000;
}

.p1{
    color: #cd7f32;
}

.p2{
    color: #c0c0c0;
}

.p3{
    color: #ffd700;
}
.position-container{
    height: 100vh;
    padding: 3.14285714rem;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}