<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-3 col-md-2 p-2">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-2x fa-user"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item">Perfil</a></li>
                  <li><a class="dropdown-item" (click)="sair()">Sair</a></li>
                </ul>
              </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-md-3 m-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-8 col-md-7 p-3">
            <div class="card shadow rounded p-4">
                <app-content></app-content>
            </div>
        </div>
    </div>

</div>