<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h4 class="m-4">Planos Disponiveis</h4>
        </div>
        <div class="col-12 col-md-4 text-end">
            <a class="btn btn-primary" (click)="cadastrar()">Criar novo Plano</a>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="form-group col-12 col-md-10 p-3">
            <label for="idLinkConvite">Link de convite:</label>
            <input class="form-control" type="text" id="idLinkConvite" [(ngModel)]="linkConvite" disabled>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
