<div class="container">
    <div class="row">
        <div class="col-12 col-md-7">
            <h4 class="m-4">Planos Disponiveis</h4>
        </div>
        <div class="col-12 col-md-3">
            <a class="btn btn-primary" (click)="gerarLinkConvite()">
                Gerar link de convite
                <i class="fa-solid fa-rotate"></i>
            </a>
       </div>
        <div class="col-12 col-md-2 text-end">
            <a class="btn btn-primary" (click)="cadastrar()">Novo Plano</a>
        </div>
        <hr>
    </div>
    <div class="row" >
        <div class="form-group col-12 col-md-10 p-3" *ngIf="linkConvite">
            <label for="idLinkConvite">Link de convite:</label>
            <input class="form-control" type="text" id="idLinkConvite" [(ngModel)]="linkConvite" disabled>
            <hr>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 col-md-4" *ngFor="let plano of planos">
            <div class="card" *ngIf="plano.id != null">
                <div class="card-body">
                    <h5 class="card-title">{{ plano.nome }}</h5>
                    <p class="card-text">{{ retornaDescricaoProduto(plano) }}</p>
                    <div class="d-flex justify-content-between align-items-baseline">
                        <small class="card-text pr-1">{{ quantidadeProdutosNoPlano }}</small>
                        <a class="btn btn-primary" (click)="verProdutos(plano.produto)">Ver</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="alert alert-warning" role="alert" *ngIf="planos.length === 0">
            Não existe nenhum plano cadastrado, clique em "Novo Plano" para cadastrar um novo plano <a (click)="cadastrar()" class="alert-link">Novo Plano</a>
        </div>
    </div>
</div>
