<div class="container position-container">
    <div class="row">
        <div class="card mb-3 p-3 shadow-op">
            <div class="row g-0" *ngIf="empresa != undefined">
                <div class="col-md-4">
                    <img [src]="empresa.logo" class="img-fluid rounded">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> {{ empresa.nome + " - " + empresa.ramo}} </h5>
                        <p class="card-text">{{ empresa.telefone | mask: mascaraTel}}<br>{{ empresa.email }}</p>
                        <p class="card-text"><small class="text-body-secondary">Veja o catalogo de produtos abaixo.</small></p>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-3" *ngFor="let produto of empresa.produto">
                        <div class="card text-center mb-3 box-shadow-none">
                            <div class="card-body">{{ produto.nome }}</div>
                            <img [src]="produto.imagem" class="card-img-top img-fluid">
                            <div class="card-body">
                                <a class="btn btn-primary btn-sm">COMPRAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0" *ngIf="empresa == undefined">
                <div class="card-body">
                    <div class="alert alert-warning" role="alert">
                        {{ mensagemErro }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>